*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.eggs
*.egg-info
dist
build
_skbuild
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.*_cache/
.coverage
.tox
coverage.xml
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# IDE junk
.idea/*
*.swp
.vscode/*
*~

# build output (testing)
skbuild/_cmake_test_compile/*

.coverage*
skbuild/_version.py

/*env*/

# Fedora packaging
/.distro/main.fmf
/.distro/plans/main.fmf
/.distro/tests/main.fmf

# pyenv
.python-version
