repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.1.0"
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
#  - id: check-docstring-first
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/sirosen/texthooks
  rev: "0.3.1"
  hooks:
  - id: fix-ligatures
  - id: fix-smartquotes

- repo: https://github.com/PyCQA/isort
  rev: "5.10.1"
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: "v2.31.1"
  hooks:
  - id: pyupgrade

- repo: https://github.com/psf/black
  rev: "22.3.0" # Keep in sync with blacken-docs
  hooks:
  - id: black
    exclude: ^docs/conf\.py$

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: "blacken-docs"
    additional_dependencies:
    - black==21.12b0 # keep in sync with black hook

- repo: https://github.com/PyCQA/flake8
  rev: "4.0.1"
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear]

- repo: https://github.com/codespell-project/codespell
  rev: "v2.1.0"
  hooks:
  - id: codespell
    exclude: "(.png|.svg|^_version.py)$"
    args: ["-L", "ba,endwhile,unparseable"]

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: "v1.9.0"
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-eval
  # - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.48"
  hooks:
  - id: check-manifest
    stages: [manual]
    additional_dependencies: ["setuptools_scm[toml]"]
