include *.rst
include LICENSE
recursive-include skbuild *.cmake *.rst

recursive-include tests *.py *.toml *.pyx *.txt *.in *.cxx dummy VERSION* README
recursive-exclude * __pycache__ *.py[co] _skbuild *venv*

include skbuild/_version.py
