build>=0.7
codecov>=2.0.5
coverage>=4.2
cython>=0.25.1
flake8>=3.0.4
path.py>=11.5.0
pytest>=6.0.0
pytest-cov>=2.7.1
pytest-mock>=1.10.4
pytest-runner>=5.1
pytest-virtualenv>=1.2.5
requests
ubelt >= 0.8.2
virtualenv
xdoctest>=0.10.0
