codecov>=2.0.5
coverage>=4.2
cython>=0.25.1
flake8>=3.0.4
pathlib2; python_version < '3.0'
path.py>=11.5.0
pytest>=4.5.0
pytest-cov>=2.7.1
pytest-mock>=1.10.4
pytest-runner>=5.1
pytest-virtualenv>=1.2.5
requests
six>=1.10.0
virtualenv
