# docutils 0.17 breaks HTML tags & RTD theme
# https://github.com/sphinx-doc/sphinx/issues/9001
docutils==0.16  # rq.filter: ==0.16
pygments
sphinx<5  # rq.filter: <5
sphinx-issues
sphinx-rtd-theme
sphinxcontrib-moderncmakedomain
